@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'sans-serif';
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    background-color: #000;
    background-image: url(Images/logo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container.show-nav {
    transform: translateX(160px);
}

.container.show-nav .circle-container{
    display: none;
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #070707;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: transform 0.5s linear;

}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: .5s;
}

nav {
    position: fixed;
    bottom: 250px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}


nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-130%);
    transition: transform 1 ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav a {
    color: #fff;
}

.content {
    max-width: 1300px;
    margin: 50px auto;
}

.content img {
    max-width: 100%;
}

.content h1 {
    margin: 0;
}


.transbox{
    background-color: rgba(255,255,255,.8);
}
h1{
    text-align: center;
}
p{
    color: #000;
    font-weight: bold;
}
footer{
    text-align: center;
}
.imgPortrait{
    height:300px;
    width: 200px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}